@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
body {
  background: #2b2d37;
  scroll-behavior: smooth;
}
#spinner-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pulse-container {
  background-color: #23252f;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pulse-bubble {
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  background-color: var(--color);
}
.pulse-bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}
.pulse-bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}
@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
  }
}

/* root color */
:root {
  --color: #5c61ed;
  --button: #3d3f4a;
  --nav-color: #fff;
}

/* navbar */
.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.navbar-brand span {
  font-weight: 400;
  color: var(--nav-color);
}
.nav {
  padding: 10px;
}
.thin-text {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 17px;
}
.more {
  color: var(--nav-color);
  transition: 0.3s ease-in-out;
}
.more:hover {
  color: var(--color);
}
.more:focus {
  color: var(--color);
}
#nav-icon1 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 40px;
  background: var(--color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}
#nav-icon1 span:nth-child(2) {
  top: 13px;
}
#nav-icon1 span:nth-child(3) {
  top: 26px;
}
#nav-icon1.open span:nth-child(1) {
  top: 18px;
  background-color: red;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  background-color: red;
  left: -60px;
}
#nav-icon1.open span:nth-child(3) {
  top: 18px;
  background-color: red;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* content */
.video {
  display: none;
}
.video-content {
  width: 450px;
  z-index: -1;
}
.hide {
  overflow: hidden;
}
.col-xl-3 {
  margin-right: -70px;
}
.desc {
  max-width: 420px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: var(--nav-color);
}
#home {
  padding-top: 6rem;
}
h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: var(--nav-color);
}
.header {
  color: var(--nav-color);
}
.contact,
.contact-2 {
  background-color: var(--button);
  text-decoration: none;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 16px;
  padding-right: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  opacity: 1;
  transition: 0.3s ease-in;
}
.contact {
  border: 3px solid var(--button);
}
.contact:hover {
  background-color: #23252f;
}
.contact:hover a {
  background-color: #23252f;
  color: var(--nav-color);
}

@keyframes blink {
  0% {
    background-color: var(--nav-color);
  }
  49% {
    background-color: var(--nav-color);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: var(--nav-color);
  }
}

/* mengatur responsive */
@media screen and (max-width: 600px) {
  .video-content {
    display: none;
    width: 500px;
  }
  .video {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .video-content {
    display: none;
    width: 500px;
  }
  .video {
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  .video-content {
    width: 450px;
    z-index: -1;
  }
}
@media screen and (max-width: 992px) {
  .video-content {
    display: none;
    width: 250px;
  }
  .video {
    display: block;
  }
}

/* Explore */
#explore {
  padding-top: 5rem;
}
h4 {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: var(--nav-color);
}
.category {
  color: var(--nav-color);
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 50px;
}
img {
  width: 18rem;
}
.title {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: var(--text-color);
  margin-top: -3px;
}
.bi-caret-right::before {
  font-size: 20px;
  font-weight: 600;
  margin-left: -10px;
  left: -10px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.card a {
  text-decoration: none;
  color: var(--nav-color);
}
.card:hover .bi-caret-right::before {
  transform: translateX(10px);
  opacity: 1;
}
.slide-more,
.slide-more-2 {
  background-color: var(--color);
  text-decoration: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  opacity: 1;
  transition: 0.3s ease-in;
}
.slide-more {
  border: 3px solid var(--color);
}
.slide-more:hover a {
  color: var(--nav-color);
}
.slide-more {
  animation: bounce infinite 1s;
}
@keyframes bounce {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(10px);
  }
  40% {
    transform: translateX(0);
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color);
  border-radius: 6px;
}
::selection {
  background: var(--color);
  color: #fff;
}

/* footer */
.information p,
.copyright {
  color: #999;
  font-size: 18px;
}
.bi-instagram,
.bi-youtube,
.bi-facebook,
.bi-github {
  color: #999;
  padding: 15px;
  font-size: 24px;
  transition: 0.4s ease-in-out;
}
.bi-instagram:hover {
  color: var(--color);
}
.bi-youtube:hover {
  color: var(--color);
}
.bi-facebook:hover {
  color: var(--color);
}
.bi-github:hover {
  color: var(--color);
}
.license,
.license-2 {
  color: #999;
  font-size: 18px;
  text-decoration: none;
}
.license-2:hover {
  color: #999;
  text-decoration: underline;
}
