@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
body {
  background: #fff;
  scroll-behavior: smooth;
}
#spinner-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pulse-container {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pulse-bubble {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: #545454;
}
.pulse-bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}
.pulse-bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}
@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
  }
}

/* root color */
:root {
  --color: #536dfe;
  --hue-color: 250;
  --nav-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
}

/* navbar */
.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.navbar-brand span {
  font-weight: 400;
  color: var(--nav-color);
}
.nav {
  padding: 10px;
}
.thin-text {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 17px;
}
.more {
  color: var(--nav-color);
  transition: 0.3s ease-in-out;
}
.more:hover {
  color: var(--color);
}
.more:focus {
  color: var(--nav-color);
}
.dropdown-item {
  color: var(--nav-color);
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}
.dropdown-item:hover {
  color: var(--color);
  transform: scale(1.05);
  background-color: transparent;
}
.dropdown-toggle {
  color: var(--nav-color);
  transition: 0.3s ease-in-out;
}
.dropdown-toggle:hover {
  color: var(--color);
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
#nav-icon1 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 40px;
  background: var(--color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}
#nav-icon1 span:nth-child(2) {
  top: 13px;
}
#nav-icon1 span:nth-child(3) {
  top: 26px;
}
#nav-icon1.open span:nth-child(1) {
  top: 18px;
  background-color: red;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  background-color: red;
  left: -60px;
}
#nav-icon1.open span:nth-child(3) {
  top: 18px;
  background-color: red;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* slider */
.header-banner h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: var(--nav-color);
  cursor: pointer;
}
.desc {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #b5b5b5;
}
.slide {
  padding-top: 5rem;
}
.carousel {
  margin-bottom: -5rem;
}
h4 a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: var(--nav-color);
}
h4 a:hover {
  color: var(--nav-color);
  text-decoration: underline;
}
.title {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: var(--text-color);
  margin-top: -3px;
}
img {
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
  transition: 0.5s;
}
img:hover {
  -webkit-mask-image: linear-gradient(-75deg, #000 30%, rgba(0, 0, 0, 0.7) 50%, #000 70%);
  -webkit-mask-size: 200%;
  animation: shine 1s;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
.card {
  padding-top: 100px;
}
.part {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: var(--nav-color);
  margin-bottom: 25px;
}
.btn-image {
  background-color: var(--color);
  color: #fff;
}
.btn-illustration,
.btn-animation {
  background-color: #f8f9fa;
  border: 1px solid var(--color);
  color: var(--color);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color);
  border-radius: 6px;
}
::selection {
  background: var(--color);
  color: #fff;
}
/* footer */
.information p,
.copyright {
  color: #999;
  font-size: 18px;
}
.bi-instagram,
.bi-youtube,
.bi-facebook,
.bi-github {
  color: #999;
  padding: 15px;
  font-size: 24px;
}
.license {
  color: #999;
  font-size: 18px;
  text-decoration: none;
}
.license:hover {
  color: #999;
  text-decoration: underline;
}
.footer {
  margin-bottom: 100px;
}
