@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
body {
  background: #2b2d37;
  scroll-behavior: smooth;
}
#spinner-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pulse-container {
  position: fixed;
  background-color: #2b2d37;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pulse-bubble {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: #545454;
}
.pulse-bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}
.pulse-bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}
@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.25;
  }
}

/* root color */
:root {
  --color: #5c61ed;
  --button: #3d3f4a;
  --nav-color: #fff;
}

/* navbar */
.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}
.navbar-brand span {
  font-weight: 400;
  color: var(--nav-color);
}
.nav {
  padding: 10px;
}
.thin-text {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 17px;
}
.more {
  color: var(--nav-color);
  transition: 0.3s ease-in-out;
}
.more:hover {
  color: var(--color);
}
.more:focus {
  color: var(--nav-color);
}
.dropdown-menu {
  background-color: #2b2d37;
}
.dropdown-item {
  color: var(--nav-color);
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}
.dropdown-item:hover {
  color: var(--color);
  transform: scale(1.05);
  background-color: transparent;
}
.dropdown-toggle {
  color: var(--nav-color);
  transition: 0.3s ease-in-out;
}
.dropdown-toggle:hover {
  color: var(--color);
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
#nav-icon1 {
  width: 60px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 40px;
  background: var(--color);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}
#nav-icon1 span:nth-child(2) {
  top: 13px;
}
#nav-icon1 span:nth-child(3) {
  top: 26px;
}
#nav-icon1.open span:nth-child(1) {
  top: 18px;
  background-color: red;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  background-color: red;
  left: -60px;
}
#nav-icon1.open span:nth-child(3) {
  top: 18px;
  background-color: red;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* slider */
.header-banner h1 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: var(--nav-color);
  cursor: pointer;
}
.slide {
  padding-top: 5rem;
}
.carousel {
  margin-bottom: -5.5rem;
}
.title a {
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: var(--nav-color);
  margin-bottom: 15px;
}
.title a:hover {
  color: var(--nav-color);
}
.bi-caret-right {
  font-size: 20px;
  font-weight: 600;
  color: var(--nav-color);
  left: -13px;
}
.bi-caret-right::before {
  font-size: 20px;
  font-weight: 600;
  margin-left: -10px;
  left: -10px;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.showcase-box:hover .bi-caret-right::before {
  transform: translateX(10px);
  opacity: 1;
}
.desc {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: var(--nav-color);
}
img {
  display: block;
  height: auto;
  transition: 0.5s;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.overlay {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  opacity: 0;
}
.image-overlay {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
.showcase-box:hover .image-overlay {
  opacity: 1;
}
h3 {
  color: #6fcf97;
  font-size: 28px;
  font-weight: 600;
}
.showcase-box .image-overlay > * {
  transform: translateY(20px);
  transition: 0.3s ease-in-out;
}
.showcase-box:hover .image-overlay > * {
  transform: translateY(0);
}
.hide {
  font-size: 18px;
  color: var(--nav-color);
  overflow: hidden;
}
.showcase-box .hide img {
  transform: scale(1);
  transition: 0.25s ease-in-out;
}
.showcase-box:hover .hide img {
  transform: scale(1.3);
  filter: brightness(10%) saturate(0);
}
.card {
  padding-top: 100px;
}
.part {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: var(--button);
  margin-bottom: 25px;
}
.btn-image {
  background-color: var(--color);
  color: #fff;
}
.btn-illustration,
.btn-animation {
  background-color: #f8f9fa;
  border: 1px solid var(--color);
  color: var(--color);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color);
  border-radius: 6px;
}
::selection {
  background: var(--color);
  color: #fff;
}
/* footer */
.information p,
.copyright {
  color: #999;
  font-size: 18px;
}
.bi-instagram,
.bi-youtube,
.bi-facebook,
.bi-github {
  color: #999;
  padding: 15px;
  font-size: 24px;
  transition: 0.4s ease-in-out;
}
.bi-instagram:hover {
  color: var(--color);
}
.bi-youtube:hover {
  color: var(--color);
}
.bi-facebook:hover {
  color: var(--color);
}
.bi-github:hover {
  color: var(--color);
}
